target-version = "py313"
line-length = 88
src = ["src", "tests"]

[lint]
select = [
    "E",      # pycodestyle errors
    "W",      # pycodestyle warnings
    "F",      # pyflakes
    "I",      # isort
    "B",      # flake8-bugbear
    "C4",     # flake8-comprehensions
    "UP",     # pyupgrade
    "ANN",    # flake8-annotations
    "ARG",    # flake8-unused-arguments
    "SIM",    # flake8-simplify
    "TCH",    # flake8-type-checking
    "PTH",    # flake8-use-pathlib
    "ERA",    # eradicate (commented-out code)
    "PL",     # pylint
    "PERF",   # perflint
    "RUF",    # ruff-specific
]
ignore = [
    "ANN002",   # missing type annotation for *args
    "ANN003",   # missing type annotation for **kwargs
    "PLR0913",  # too many arguments - sometimes necessary
    "PLR2004",  # magic value comparison - too noisy
]

[lint.isort]
known-first-party = ["memex"]
